@{
    ViewData["Title"] = "Home";
}

<div class="profile">
    <img src="images/profile.jpg" alt="Student Photo">
    <div>
        <h1>Steven Lei</h1>
        <p>Email: leizhengwen@126.com</p>
        <p>Phone: (027) 1234567</p>
        <p>Major: Computer Science</p>
    </div>
</div>

<div class="section">
    <h2>About Me</h2>
    <p>Nothing about me.</p>
</div>
